* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #fafafa;
}

/* Conteiner */
#main-conteiner {
  display: flex;
  margin-top: 30px;
}

#banner-conteiner,
#form-conteiner {
  flex: 1 1 0;
  width: 50%;
}

#banner-conteiner {
  text-align: right;
}

#banner-conteiner img {
  width: 100%;
  margin-right: 15px;
  margin-top: 25px;
  max-width: 380px;
}

#form-conteiner {
  text-align: center;
}

/* Login form */
#form-box {
  width: 350px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  margin-top: 30px;
}

#logo-insta {
  width: 175px;
  height: 51px;
  margin: 30px auto 12px;
}

#info p {
  color: rgb(168, 166, 166);
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 15px;
}

#facebook-login {
  height: 30px;
  background-color: #1f81c2;
  width: 268px;
  border-radius: 5px;
  margin: 0 auto 25px;
  text-align: center;
}

#facebook-login a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#facebook-login .sign {
  color: #fff;
  margin-top: 5px;
  font-size: 15px;
}

#facebook-login img {
  margin-top: 4px;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

#separator {
  position: relative;
}

#line {
  border-top: 1px solid #dbdbdb;
  width: 268px;
  margin: 25px auto 35px;
}

#separator span {
  position: absolute;
  text-transform: uppercase;
  color: #bbb;
  background-color: #fff;
  top: -6px;
  width: 50px;
  margin-left: -25px;
  font-size: 14px;
}

#login-form {
  margin-top: 30px;
}

#login-form input {
  display: block;
  margin: 5px auto;
  width: 268px;
  padding: 12px 9px;
  font-size: 14px;
  background-color: #fdfdfd;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

#login-form input[type="button"] {
  background-color: #1f81c2;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  height: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#login-form a {
  text-decoration: none;
}

#login-form input[type="button"]:hover {
  background-color: #125e91;
}

#sla p {
  margin-top: 10px;
  font-size: 12px;
  margin-bottom: 10px;
  text-align: center;
  padding: 0 20px;
  color: gray;
}

#sla a {
  text-decoration: none;
  color: rgb(9, 9, 107);
}

/* Cadastro */
#register-conteiner {
  background-color: #ffff;
  margin-top: 10px;
  width: 350px;
  padding: 25px;
  border: 1px solid #dbdbdb;
}

#register-conteiner p {
  font-size: 14px;
  color: #262626;
}

#register-conteiner a {
  color: #4a95f6;
  font-weight: bold;
  text-decoration: none;
}

/* Get app */
#get-app-conteiner {
  text-align: center;
  width: 350px;
  font-size: 15px;
}

#get-app-conteiner p {
  margin: 20px 0;
}

#get-app-conteiner img {
  width: 136px;
  height: 40px;
}

/* Footer */
footer {
  text-align: left;
  width: 1000px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer #footer-links {
  display: flex;
  list-style: none;
}

#footer-links a,
#copyright {
  text-decoration: none;
  color: #8e8e8e;
  font-size: 12px;
}

#footer-links li {
  margin-right: 10px;
}

#copyright {
  margin-top: 10px;
}

/* Media Queries */
@media (max-width: 900px) {
  #banner-conteiner img {
    margin-right: 0;
  }

  #form-box {
    margin: 30px auto 0;
  }

  #register-conteiner {
    margin: 10px auto 0;
  }

  #get-app-conteiner {
    margin: 0 auto;
  }
}

@media (max-width: 800px) {
  main {
    width: 100%;
  }

  #banner-conteiner {
    display: none;
  }

  #form-conteiner {
    width: 100%;
  }

  footer {
    width: 100%;
  }
}

@media (max-width: 600px) {
  #footer-links {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}