* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#conteiner {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
#bar-left-conteiner {
  position: fixed;
  width: 244px;
  height: 1000px;
  border-right: 1px solid gray;
  display: flex;
  flex-direction: column;
}

#bar-left-conteiner a {
  margin-bottom: 20px;
  margin-left: 30px;
}

#bar-left-conteiner a:hover {
  background-color: rgba(128, 128, 128, 0.11);
  border-radius: 5px;
}
#logo-coteiner {
  width: 244px;
}
#image {
  width: 110px;
  margin: 40px 30px;
}

.fa {
  font-size: 20px;
}

#home a {
  display: flex; /* Alinha o ícone e o texto dentro do link */
  text-decoration: none;
  color: black;
  align-items: center; /* Alinha verticalmente o ícone e o texto ao centro */
}

#home p {
  font-size: 18px; /* Tamanho do texto */
  padding: 10px;
  margin: 0; /* Remove a margem padrão para melhor alinhamento */
}

#search a {
  display: flex; /* Alinha o ícone e o texto dentro do link */
  text-decoration: none;
  color: black;
  align-items: center; /* Alinha verticalmente o ícone e o texto ao centro */
}

#search p {
  font-size: 18px; /* Tamanho do texto */
  padding: 10px;
  margin: 0; /* Remove a margem padrão para melhor alinhamento */
}

#compass a {
  display: flex; /* Alinha o ícone e o texto dentro do link */
  text-decoration: none;
  color: black;
  align-items: center; /* Alinha verticalmente o ícone e o texto ao centro */
}

#compass p {
  font-size: 18px; /* Tamanho do texto */
  padding: 10px;
  margin: 0; /* Remove a margem padrão para melhor alinhamento */
}

#clapperboard a {
  display: flex; /* Alinha o ícone e o texto dentro do link */
  text-decoration: none;
  color: black;
  align-items: center; /* Alinha verticalmente o ícone e o texto ao centro */
}

#clapperboard p {
  font-size: 18px; /* Tamanho do texto */
  padding: 10px;
  margin: 0; /* Remove a margem padrão para melhor alinhamento */
}

#comment a {
  display: flex; /* Alinha o ícone e o texto dentro do link */
  text-decoration: none;
  color: black;
  align-items: center; /* Alinha verticalmente o ícone e o texto ao centro */
}

#comment p {
  font-size: 18px; /* Tamanho do texto */
  padding: 10px;
  margin: 0; /* Remove a margem padrão para melhor alinhamento */
}

#heart a {
  display: flex; /* Alinha o ícone e o texto dentro do link */
  text-decoration: none;
  color: black;
  align-items: center; /* Alinha verticalmente o ícone e o texto ao centro */
}

#heart p {
  font-size: 18px; /* Tamanho do texto */
  padding: 10px;
  margin: 0; /* Remove a margem padrão para melhor alinhamento */
}

#plus a {
  display: flex; /* Alinha o ícone e o texto dentro do link */
  text-decoration: none;
  color: black;
  align-items: center; /* Alinha verticalmente o ícone e o texto ao centro */
}

#plus p {
  font-size: 18px; /* Tamanho do texto */
  padding: 10px;
  margin: 0; /* Remove a margem padrão para melhor alinhamento */
}

#plus .fa-plus {
  border: 2px solid black;
  border-radius: 3px;
}

#profile {
  border: 1px solid transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-left: 25px;
  line-height: 10px;
  background-image: url(../img/WhatsApp\ Image\ 2024-08-05\ at\ 21.02.23.jpeg);
  background-position: center;
  background-size: cover;
}

#mais a {
  display: flex; /* Alinha o ícone e o texto dentro do link */
  text-decoration: none;
  color: black;
  align-items: center; /* Alinha verticalmente o ícone e o texto ao centro */
  margin-top: 20px;
}

#mais .fa-search {
  margin-right: 5px; /* Espaço entre o ícone e o texto */
  font-size: 20px; /* Tamanho do ícone */
  padding: 0;
}

#mais p {
  font-size: 18px; /* Tamanho do texto */
  padding: 10px;
  margin: 0; /* Remove a margem padrão para melhor alinhamento */
}

#mais .fa {
  font-size: 20px;
}

/* Stories */

#stories-conteiner {
  display: flex;
  position: relative;
  left: 22%;
  top: 20px;
  gap: 20px;
}

.item {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  background-image: url(../img/favicon.png);
  background-size: cover;
  background-position: center;
}
.item1 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  background-image: url(../img/WhatsApp\ Image\ 2024-08-05\ at\ 21.02.23.jpeg);
  background-size: cover;
  background-position: center;
}
.item2 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  background-image: url(../img/WhatsApp\ Image\ 2024-08-12\ at\ 14.23.30.jpeg);
  background-size: cover;
  background-position: center;
}
.item3 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  background-image: url(../img/WhatsApp\ Image\ 2024-08-12\ at\ 14.22.04.jpeg);
  background-size: cover;
  background-position: center;
}
.item4 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  background-image: url(../img/WhatsApp\ Image\ 2024-08-12\ at\ 14.40.58.jpeg);
  background-size: cover;
  background-position: center;
}
.item5 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  background-image: url(../img/WhatsApp\ Image\ 2024-08-12\ at\ 14.43.28.jpeg);
  background-size: cover;
  background-position: center;
}
.item6 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  background-image: url(../img/WhatsApp\ Image\ 2024-08-12\ at\ 14.43.27.jpeg);
  background-size: cover;
  background-position: center;
}
.item7 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  background-image: url(../img/WhatsApp\ Image\ 2024-08-12\ at\ 14.43.25.jpeg);
  background-size: cover;
  background-position: center;
}
.item8 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  background-image: url(../img/WhatsApp\ Image\ 2024-08-12\ at\ 14.47.40.jpeg);
  background-size: cover;
  background-position: center;
}

.item::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 50%;
  padding: 2px;
  background: linear-gradient(
    to right,
    rgba(255, 5, 5, 0.822),
    rgba(255, 255, 0, 0.342)
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

/* Post */
#count-conteiner {
  display: flex;
  position: relative;
  top: 50px;
  left: 32%;
  margin-bottom: -10px;
}
.profile {
  border: 1px solid transparent;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-image: url(../img/WhatsApp\ Image\ 2024-08-05\ at\ 21.02.23.jpeg);
  background-size: cover;
  background-position: center;
}

.profile-name {
  margin-left: 10px;
  height: 50px;
  line-height: 40px;
  font-weight: 600;
  font-size: 15px;
}

#post-conteiner {
  border: 1px solid gray(128, 128, 128, 0.37);
  border-radius: 3px;
  width: 500px;
  height: 500px;
  display: flex;
  position: relative;
  margin: 0 auto;
  top: 57px;
  background-image: url(../img/WhatsApp\ Image\ 2024-08-12\ at\ 14.23.30.jpeg);
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
}

#post-conteiner1 {
  border: 1px solid gray(128, 128, 128, 0.37);
  border-radius: 3px;
  width: 500px;
  height: 500px;
  display: flex;
  position: relative;
  margin: 0 auto;
  top: 57px;
  background-image: url(../img/WhatsApp\ Image\ 2024-08-05\ at\ 21.02.23.jpeg);
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
}

#post-conteiner2 {
  border: 1px solid gray(128, 128, 128, 0.37);
  border-radius: 3px;
  width: 500px;
  height: 500px;
  display: flex;
  position: relative;
  margin: 0 auto;
  top: 57px;
  background-image: url(../img/WhatsApp\ Image\ 2024-08-12\ at\ 14.22.04.jpeg);
  background-position: center;
  background-size: cover;
  margin-bottom: 90px;
}

@media (max-width: 1110px) {
  #bar-left-conteiner p {
    display: none;
  }
  #bar-left-conteiner {
    width: 70px;
  }
  #logo-conteiner img {
    display: none;
  }

  #home {
    margin-top: 30px;
  }
  #count-conteiner {
    left: 27%;
  }
  #post-conteiner {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 900px) {
  #stories-conteiner {
    left: 20%;
  }
  #count-conteiner p {
    left: 25%;
  }
  #post-conteiner {
    left: 5%;
  }
  #post-conteiner1 {
    left: 5%;
  }
  #post-conteiner2 {
    left: 5%;
  }
}

@media (max-width: 800px) {
  #stories-conteiner {
    left: 17%;
  }
}

@media (max-width: 700px) {
  #bar-left-conteiner {
    display: none;
  }
  #stories-conteiner {
    left: 7%;
  }

  #count-conteiner {
    left: 15%;
  }

  #post-conteiner {
    left: 1%;
  }
  #post-conteiner1 {
    left: 1%;
  }
  #post-conteiner2 {
    left: 1%;
  }
}

@media (max-width: 600px) {
  .item {
    justify-content: center;
    align-items: center;
  }

  .item8 {
    display: none;
  }

  #count-conteiner {
    left: 11%;
  }
  #post-conteiner {
    width: 80%;
  }
  #post-conteiner1 {
    width: 80%;
  }
  #post-conteiner2 {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .item7 {
    display: none;
  }
}

@media (max-width: 450px) {
  .item {
    justify-content: space-between;
  }
  .item6 {
    display: none;
  }
}
